<br>
<h2 class="display-2">Arduinos</h2>
<p class="lead">Arduinos para toda necesidad de proyectos de electronica</p>
<br><br><br>
<div class="row">
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "arduino.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Arduino uno</h4>
		    <p>345$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "arduinol.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Arduino Leopardo</h4>
		    <p>395$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "arduinom.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Arduino MEGA</h4>
		    <p>595$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "blue.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Modulo de bluetooth</h4>
		    <p>260$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "control.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Tarjeta de control de motores</h4>
		    <p>199$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "sensorT.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">sensor de temperatura</h4>
		    <p>60$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "teclado.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">teclado 4 x 4</h4>
		    <p>40$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "sensor.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Sensor PIR</h4>
		    <p>99$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
</div>