<br>
<h2 class="display-2">Fuentes de poder</h2>
<p class="lead">Fuentes de la mayor calidad para toda necesidad en la industria</p>
<br><br><br>
<div class="row">
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "porta2.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Porta pilas AA</h4>
		    <p>9$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "porta.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Porta pilas AA</h4>
		    <p>12$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "pilas.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Paquede de 4 pilas AAA</h4>
		    <p>140$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "pilas2.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Paquete de 4 pilas AA</h4>
		    <p>260$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "pilas3.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Pilas recargables</h4>
		    <p>79$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "pilas5.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Recargador de pilas</h4>
		    <p>460$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "pilas4.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">40 pilas AA</h4>
		    <p>240$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 12rem;">
		  <%= image_tag "porta3.jpg", :class => "card-img-top" %>
		  <div class="card-body">
		    <h4 class="card-title">Pilas D</h4>
		    <p>199$</p>
		    <a href="#" class="btn btn-primary">lo quiero</a>
		  </div>
		</div>
	</div>
</div>