<br>
<h3 class="display-3">Publica tu producto</h3>
<br>
<%= form_for(@product) do |f| %>
	<form>
		
  		<% @product.errors.full_messages.each do |message| %>
  		<div class="alert alert-danger" role="alert">
  			*<%= message %>
  		</div>
  		<%end%>
		
		<div class="form-group">
			<div class="form-group row">
    			<label for="inputEmail3" class="col-sm-2 col-form-label">Nombre del Producto</label>
    			<div class="col-sm-10">
			 		<%= f.text_field :name, placeholder: "Nombre" , :class => "form-control"%>
			 	</div>
			 </div>
		</div>
		<div class="form-group">
			<div class="form-group row">
    			<label for="inputEmail3" class="col-sm-2 col-form-label">Precio del Producto</label>
    			<div class="col-sm-10">
			 		<%= f.text_field :price, placeholder: "Precio" , :class => "form-control"%>
			 	</div>
			 </div>
		</div>
		<div class="form-group row">
    		<div class="col-sm-10">
      			<%= f.submit "Publicar", :class =>"btn btn-primary"%>
    		</div>
  		</div>
	</form>
<%end%>